{% extends 'base.html.twig' %}

{% block title %}Planigo{% endblock %}

{% block body %}
<div class="container" style="max-width: 80rem;">
    <h1>Bienvenue sur Planigo</h1>
    <p class="lead">Planigo vous facilite la gestion du temps.</p>
    <p>Présentation des services disponibles</p>

    <div class="container-fluid row gap-4">

        {% for service in services %}
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">
                <h4 class="card-title">{{ service.nom }}</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    {{ service.description }}
                </p>
                <a class="btn btn-primary" href="{{ path('app_planing', {'service': service.id }) }}">Voir les
                    disponibilités</a>
            </div>
        </div>
        {% else %}
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">
                <h4 class="card-title">Erreur du Système</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Votre système ne contient aucun service. Veuillez en créer. Utilisez le bouton suivant pour
                    instancier des services par défaut.
                </p>
                <a class="btn btn-primary" href="{{ path('app_planing_setup') }}">Réinitialiser</a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}