{% extends 'base.html.twig' %}

{% block title %}Planigo{% endblock %}

{% block body %}
<h1>Bienvenue sur Planigo</h1>
    <p class="lead">Planigo vous facilite la gestion du temps.</p>
{% endblock %}
