{% extends 'base.html.twig' %}

{% block title %}Edit Service
{% endblock %}

{% block body %}
	<div class="container" style="max-width: 80rem;">
		<h1 class="mt-3">Modifier un service</h1>

		{{ include('service/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a class="btn btn-primary me-2" href="{{ path('app_service_index') }}">Retour à la liste des services</a>

		{{ include('service/_delete_form.html.twig') }}
	</div>
{% endblock %}
