{% extends 'base.html.twig' %}

{% block title %}Editer la réservation
{% endblock %}

{% block body %}
	<div class="container" style="max-width: 80rem;">

		<h1>Editer la réservation</h1>

		<div class="text-warning">{{ error }}</div>
		{{ include('reservation/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a class="btn btn-primary" href="{{ path('app_reservation_index') }}">Retour à la liste</a>

		{{ include('reservation/_delete_form.html.twig') }}
	</div>
{% endblock %}
