{% extends 'base.html.twig' %}

{% block title %}New Reservation
{% endblock %}

{% block body %}
	<div class="container" style="max-width: 80rem;">

		<h1 class="mt-3">Create new Reservation</h1>

		<div class="text-warning">{{ error }}</div>

		{{ include('reservation/_form.html.twig') }}

		<a class="btn btn-primary my-3" href="{{ path('app_reservation_index') }}">Retour à la liste</a>
	</div>
{% endblock %}
