{% extends 'base.html.twig' %}

{% block title %}Planigo planning
{% endblock %}

{% block body %}
	<div class="container" style="max-width: 80rem;">

		<h1 class="mt-3">Réservation pour le
			{{ date|date('d-m-Y') }}
		</h1>

		{% include 'planning/_service.html.twig' %}

		<h1>Confirmation de votre réservation pour :</h1>
		<h1 class="mt-3">Heure de début :
			{{ startHour }}</h1>
		<h1 class="mt-3">Heure de fin :
			{{ endHour }}</h1>

    <a class="btn btn-primary my-3" href="{{ path('app_home') }}">Retour a l'acceuil</a>
	</div>
{% endblock %}
